.container{
    position: absolute;
    left: 40%;
    bottom: 40%;
    background-color: burlywood;
    height: 200px;
    width: 300px;
    text-align: center;
    align-content: center;
}

#startbtn{
    background-color: green;
    height: 30px;
    width: 30px;
}
#endbtn{
    background-color: red;
    height: 30px;
    width: 30px;}
    #resetbtn{
        background-color: yellow;
        height: 30px;
        width: 30px;}