body{
    height: 100vh;
    background: url(library.jpg) no-repeat center center/cover;
    
}

.container {
    background-color: white;
    padding: 20px;
    height: 30;
    width: 300px;
    position: absolute;
    bottom: 60%;
    left: 35%;
    display: flex;
    justify-content: space-between;
}

#inputText{
    width: 250px;
}

#stock{
    
    color: white;
    /* padding: 20px; */
    height: 30;
    background-color: green;

    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 35%;
    /* display: flex;
    justify-content: space-between; */
}
 